<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电影购票页面</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style_buy_new.css"> <!-- 样式表链接，你可以根据需要自定义样式 -->
</head>
<body>
<nav>
    <div>
        <a href="/main">首页</a>
        <a href="/movieSearch">电影</a>
        <a href="/cinemaSearch">影院</a>
        {{if .IsAdmin}}
            <a href="#">后台管理</a>
        {{else}}
        {{end}}
    </div>
    <div class="right-nav">
        {{if .IsLogin}}
            <a href="/showtickets">{{.Username}}</a>
            <a href="/exit">注销</a>
        {{else}}
            <a href="pages/user/login.html">Login</a>
            <a href="pages/user/register.html">Register</a>
        {{end}}
    </div>
</nav>

<div class="movie-info">
    <h2>电影信息</h2>
    <img src="{{.Movie.ImgPath}}" alt="电影海报" style="width: 200px; height: 300px;">
    <p><strong>电影名称:</strong> {{.Movie.MovieName}}</p>
    <p><strong>主演:</strong> {{.Movie.ActorName}}</p>
    <p><strong>评分:</strong> {{.Movie.Score}}</p>
    <p><strong>票房:</strong> {{.Movie.BoxOffice}}</p>
    <p><strong>地区:</strong> {{.Movie.Area}}</p>
    <p><strong>类型:</strong> {{.Movie.Genre}}</p>
    <p><strong>上映时间:</strong> {{.Movie.Showtime}}</p>
    <p><strong>时长:</strong> {{.Movie.Duration}}min</p>
    <p><strong>简介:</strong> {{.Movie.Introduction}}</p>
    <h3>评论区</h3>

    <!-- 评论列表 -->
{{/*    <div class="comment-list">*/}}
{{/*        <h4>已有评论:</h4>*/}}
{{/*        <ul>*/}}
{{/*            {{range .Comments}}*/}}
{{/*                <li>*/}}

{{/*                    {{if .At}}*/}}
{{/*                        <strong>{{.Speaker}}&nbsp@&nbsp<strong>{{.At}}&nbsp<strong>{{.Time}}&nbsp&nbsp&nbsp</strong> {{.Word}}</strong></strong>*/}}
{{/*                    {{else}}*/}}
{{/*                        <strong>{{.Speaker}}&nbsp<strong>{{.Time}}&nbsp&nbsp&nbsp</strong> {{.Word}}</strong>*/}}
{{/*                    {{end}}*/}}


{{/*                    {{if $.IsAdmin}}*/}}
{{/*                        <a href="/deletecomment?comment={{.Word}}&speaker={{.Speaker}}&time={{.Time}}&movie={{.Movie}}" style="width: 140px;height: 40px;">*/}}
{{/*                            <button type="submit">删除评论</button>*/}}
{{/*                        </a>*/}}
{{/*                    {{else}}*/}}

{{/*                    {{end}}*/}}
{{/*                </li>*/}}
{{/*            {{end}}*/}}
{{/*        </ul>*/}}
{{/*    </div>*/}}



    <div class="comment-list">
        <h4>已有评论:</h4>
        <ul>
            {{range .Comments}}
                <li>

                    {{if .At}}
                        <strong>{{.CommentId}}&nbsp {{.Speaker}}&nbsp&nbsp<strong>&nbsp<strong>{{.Time}}&nbsp&nbsp&nbsp</strong> {{.Word}}</strong></strong><hr>
                            <div>
                                {{range .SonComment}}
                                    <a>{{.SonCommentId}}&nbsp{{.Replier}}于{{.Time}}回复:{{.Replies}}</a>
                                        <hr>
                                {{else}}
                                {{end}}
                            </div>
                    {{else}}
                        <strong>{{.Speaker}}&nbsp<strong>{{.Time}}&nbsp&nbsp&nbsp</strong> {{.Word}}</strong>
                    {{end}}


                    {{if $.IsAdmin}}
                        <a href="/deletecomment?comment={{.Word}}&speaker={{.Speaker}}&time={{.Time}}&movie={{.Movie}}" style="width: 140px;height: 40px;">
                            <button type="submit">删除评论</button>
                        </a>
                    {{else}}

                    {{end}}
                </li>
            {{end}}
        </ul>
    </div>

    <div class="comment-form">
        <h4>我来评论:</h4>
        <form action="/submitcomment?MovieId={{.Movie.MovieId}}" method="post">
            {{if $.IsAdmin}}
                <label for="username">用户名:</label>
                <input type="text" id="username" name="username" value="{{.Username}}" required>
            {{else}}
                <label for="username">用户名:</label>
                <input type="text" id="username" name="username" value="{{.Username}}" readonly>
            {{end}}

            <label for="comment">评论(500字以内):</label>
            <label for="At">@:</label>
            <input type="text" id="At" name="At" value="" >
            <textarea id="comment" name="comment" rows="4" required></textarea>
            {{if $.IsLogin}}
                <button type="submit">提交评论</button>
            {{else}}
                <a href="/jumptologin" class="button-link">快去登录吧</a>
            {{end}}
        </form>
    </div>
</div>

{{range .ShowSession}}
    <div class="movie-info">
        <h3>场次信息</h3>
        <p>放映电影:{{.ShowMovie}}</p>
        <p>电影院:{{.ShowCinema}}</p>
        <p>放映厅:{{.ShowScreen}}</p>
        <p>放映时间:{{.ShowTime}}</p>
        <p>价格:{{.Price}}</p>
        <p>剩余:{{.Remaining}}</p>
        {{if .State}}
            <a class="button-link">已经卖完了</a>
        {{else}}
            {{if $.IsLogin}}
                <a href="/buy?ShowMovie={{.ShowMovie}}&ShowCinema={{.ShowCinema}}&ShowScreen={{.ShowScreen}}&ShowTime={{.ShowTime}}&ShowInfo={{.ShowInfo}}&Price={{.Price}}" class="button-link">看这场</a>
            {{else}}
                <a href="/jumptologin" class="button-link">快去登录吧</a>
            {{end}}

            {{if $.IsAdmin}}
                {{if eq .Remaining 20}}
                    <a href="/deletemoviesession?ShowMovie={{.ShowMovie}}&ShowCinema={{.ShowCinema}}&ShowScreen={{.ShowScreen}}&ShowTime={{.ShowTime}}&ShowInfo={{.ShowInfo}}&Price={{.Price}}" class="button-link">删除这个场次</a>
                {{else}}
                    <a class="button-link">已经有票售出,无法删除场次</a>
                {{end}}

            {{else}}

            {{end}}

        {{end}}

        <a href="/main" class="button-link" >继续选择</a>
    </div>
{{end}}
{{if .IsAdmin}}
    <a href="/addmoviesession?Moviename={{.Movie.MovieName}}" class="button-link" >增加场次</a>
{{else}}

{{end}}

</body>
</html>