<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统</title>
    <link type="text/css" rel="stylesheet" href="static/css/style_management.css">
</head>
<body>
<header>
    <h1>后台管理系统</h1>
</header>

<main>
    <div class="nav-container">
        <a href="/adminmodifymovie" class="nav-link">电影修改</a>
        <a href="#" class="nav-link">场次修改</a>
        <a href="#" class="nav-link">票据修改</a>
        <a href="#" class="nav-link">用户修改</a>
        <a href="#" class="nav-link">管理员修改</a>
    </div>
</main>
</body>
</html>